<div class="header">
    <ul class="nav nav-pills pull-right">
        <li><a href="#/">Home</a></li>
        <li class="active"><a href="#about">About</a></li>
    </ul>
    <h3 class="text-muted">TravelRepublic Code Test</h3>
</div>

<div class="row marketing">
    <h1>How to use the Hotel Search</h1>
    <p>When first loaded, the Hotel Search app reads in all the hotels from the hotels.json file, and displays the first
        10 results.
        Once loaded, you can sort the hotels according to distance, starts, cost and rating, and filter the set of
        hotels you see according to Hotel Name, stars, user rating, and price range. Once you've added your filter, press
        the Apply button to run the filter through the data.
    </p>
    <p>When you filter your hotels, you will obviously get a reduced set of hotels to search through. You can sort this
    reduced according to the same sort fields as before, to help narrow down your search even further.</p>
    <p>You can even add multiple filters and still sort the resultant filtered sets, in both Ascending order and
    Descending order.</p>
    <p>If you get too few results, just remove the filters and click apply.</p>


</div>

<div class="footer">
    <p>Mike Evans, Codernetic Ltd</p>
</div>