<div class="header">
    <ul class="nav nav-pills pull-right">
        <li><a href="#">Home</a></li>
        <li class="active"><a href="#spinner">Spinner Version</a></li>
    </ul>
    <h3 class="text-muted">angular mom paginator</h3>
</div>

<div class="row marketing">
    <h1>momPaginator + momSpinner Example</h1>
    <h4>by Mike Evans</h4>
    <p>The momPaginator turns your ordinary HTML table into an advanced datatable capable of retrieving data from
        an external ReST-based API, paginating the data, moving through the pages of data, and even sorting the
        data on individual columns.
    </p>
    <p>This example shows a simple query of all GitHub users using the GitHub ReST API. This is a shiny example,
        showing the paginator working with the mom-spinner directive. For a simpler version, check out the
        <a href="#app"> simple mom-paginator example</a> without the mom-spinner directive added.</p>
    <p>Note: Annoyingly, GitHub restricts anonymous API calls to 5 calls per minute, so if you see an empty table,
        just wait one minute and then try again.</p>

    <div>

        <div class="m-sort-btns">
            <h4>Sort By:</h4>

            <span>
                <button class="btn btn-primary mom-toggle" ng-click="$broadcast('startSpinner', {spinnerId: 'followers'})">
                    Followers
                    <mom-spinner  mom-spinner-id="followers" mom-spinner-start-icon="'glyphicon glyphicon-resize-vertical'"
                                  mom-spinner-fn="demo.toggleSort" mom-spinner-fn-params="{'columnName': 'followers'}"></mom-spinner>
                </button>
                <button class="btn btn-primary mom-toggle" ng-click="$broadcast('startSpinner', {spinnerId: 'joined'})">
                    Joined
                    <mom-spinner  mom-spinner-id="joined" mom-spinner-start-icon="'glyphicon glyphicon-resize-vertical'"
                                  mom-spinner-fn="demo.toggleSort" mom-spinner-fn-params="{'columnName': 'joined'}"></mom-spinner>
                </button>
                <button class="btn btn-primary mom-toggle" ng-click="$broadcast('startSpinner', {spinnerId: 'repositories'})">
                    Repositories
                    <mom-spinner  mom-spinner-id="repositories" mom-spinner-start-icon="'glyphicon glyphicon-resize-vertical'"
                                  mom-spinner-fn="demo.toggleSort" mom-spinner-fn-params="{'columnName': 'repositories'}"></mom-spinner>
                </button>
            </span>
        </div>

        <table class="table table-striped table-hover table-bordered" >
            <thead>
            <tr>
                <th class="sdr-th">Login Name</th>
                <th class="sdr-th">Avatar</th>
                <th class="sdr-th">Github URL</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in demo.paginator.getCurrentPageItems()">
                <td>{{user.login}}</td>
                <td><img ng-src="{{user.avatar_url}}" /></td>
                <td><a href="{{user.html_url}}">{{user.html_url}}</a></td>
            </tr>

            </tbody>
        </table>

        <!--Buttons -->

        <div class="m-pagination-btns">
            <button class="btn btn-mini btn-primary sdr-pagination-prev-btn" ng-click="$broadcast('startSpinner', {spinnerId: 'first'})">
                <mom-spinner  mom-spinner-id="first" mom-spinner-fn="demo.paginator.first"></mom-spinner>
                << First
            </button>
            <button class="btn btn-mini btn-primary sdr-pagination-prev-btn" ng-click="$broadcast('startSpinner', {spinnerId: 'prev'})">
                <mom-spinner  mom-spinner-id="prev" mom-spinner-fn="demo.paginator.prev"></mom-spinner>
                < Prev
            </button>
            <button class="btn btn-mini btn-primary sdr-pagination-prev-btn" ng-click="$broadcast('startSpinner', {spinnerId: 'next'})">
                <mom-spinner  mom-spinner-id="next" mom-spinner-fn="demo.paginator.next"></mom-spinner>
                Next >
            </button>
            <button class="btn btn-mini btn-primary sdr-pagination-prev-btn" ng-click="$broadcast('startSpinner', {spinnerId: 'last'})">
                <mom-spinner  mom-spinner-id="last" mom-spinner-fn="demo.paginator.last"></mom-spinner>
                Last >>
            </button>
        </div>
        <div class="m-pagination-pages">
            <label class="inline-select-text">Jump to page: </label>
            <select class="inline-select" ng-init="page=demo.model.pages[0]" ng-model="demo.model.page" ng-change="$broadcast('startSpinner', {spinnerId: 'select_page'})"
                    ng-options="page for page in demo.model.pages"></select>
                <mom-spinner  mom-spinner-id="select_page" mom-spinner-fn="demo.paginator.getPage" mom-spinner-fn-params="{'pageNum': demo.model.page}"></mom-spinner>
        </div>


    </div>
</div>

<div class="footer">
    <p>Mike Evans, Codernetic Ltd</p>
</div>